{% load static %}

<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block titulo %} Mundo Música {% endblock titulo %}</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNavDropdown"
          >
            <ul class="navbar-nav d-flex align-items-center">
              <li class="nav-item" style="font-size: 20px">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mt-1" href="{% url 'categorias' %}"
                  >Categorías</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mt-1" href="{% url 'about' %}">Acerca De</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mt-1" href="{% url 'contacto' %}"
                  >Contácto</a
                >
              </li>

              {% if user.is_authenticated %}

              <li class="nav-item" style="font-size: 20px">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="nav-link active"
                    style="border: none; background: none; cursor: pointer"
                  >
                    Salir
                  </button>
                </form>
              </li>
              <li
                style="color: aliceblue; font-size: x-large; margin-left: 4px"
              >
                | 🎵Bienvenido, {{ user.username }}🎵
              </li>

              {% else %}

              <li class="nav-item" style="font-size: 20px">
                <a class="nav-link active" href="{% url 'login' %}">Entrar</a>
              </li>

              {% endif %}
            </ul>
          </div>
        </div>
        <div>
          {% if user.role == 'colaborador' or user.role == 'admin' %}
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item" style="font-size: 20px; margin-left: -200px">
              <a
                class="nav-link active"
                style="border: 1px solid white; padding: 2px 15px"
                href="{% url 'panel-colaboradores' %}"
                >Panel</a
              >
            </li>
          </ul>

          {% endif %}
        </div>
      </nav>
    </header>

    <main>{% block contenido %}{% endblock contenido %}</main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script>
      function scrollToContent() {
        document.getElementById("contenido").scrollIntoView({
          behavior: "smooth",
        });
      }
      console.log("proof");
    </script>
  </body>
</html>
