{% extends 'base/base.html' %} {% load static %} {% block titulo %} Mundo Música
- Acerca de Nosotros {% endblock %} {% block contenido %}

<section
  class="about-text"
  style="padding: 140px 140px; color: #2f3640; background-color: #f5f6fa"
>
  <h1 style="text-align: center; margin-bottom: 80px">
    ¡Bienvenidos a Mundo Música!
  </h1>

  <p class="py-2 px-5" style="font-size: 18px; font-weight: 500">
    En Mundo Música, exploramos la riqueza y diversidad del universo musical,
    con un enfoque especial en tres joyas sonoras: el folklore argentino, el
    rock nacional argentino y el rock internacional. Sumérgete con nosotros en
    un viaje apasionante a través de los ritmos, las historias y las emociones
    que conforman la banda sonora de nuestras vidas.
  </p>

  <p class="py-2 px-5" style="font-size: 18px; font-weight: 500">
    En cada artículo, desentrañamos los misterios y las maravillas del folklore
    argentino, conectando con las raíces culturales que han dado forma a esta
    expresión artística única. Desde las profundidades de la Pampa hasta las
    montañas del noroeste, exploramos la magia de las leyendas y las tradiciones
    que resuenan en cada acorde.
  </p>
  <p class="py-2 px-5" style="font-size: 18px; font-weight: 500">
    No nos detenemos ahí; también nos sumergimos en el corazón del rock nacional
    argentino, rastreando la evolución de este género icónico que ha marcado
    generaciones. Desde los legendarios días de La Máquina de Hacer Pájaros
    hasta las vibraciones contemporáneas de Las Pelotas, compartimos historias,
    entrevistas y reseñas para mantener viva la llama del rock argentino.
  </p>
  <p class="py-2 px-5" style="font-size: 18px; font-weight: 500">
    Pero la música no conoce fronteras, y en Mundo Música también exploramos los
    sonidos que viajan más allá de nuestras fronteras. Desde los clásicos
    inolvidables hasta las últimas tendencias, nuestro blog se sumerge en el
    mundo del rock internacional, ofreciendo una perspectiva global de este
    género que ha conquistado corazones en todo el planeta.
  </p>
  <p class="py-2 px-5" style="font-size: 18px; font-weight: 500">
    Acompáñanos en Mundo Música mientras exploramos las notas que tejen
    historias, conectando con la esencia misma de la música. Ya seas un
    apasionado del folklore argentino, un devoto del rock nacional o un
    explorador de sonidos internacionales, aquí encontrarás un espacio dedicado
    a celebrar la magia de la música en todas sus formas y colores. ¡Sintoniza
    con nosotros y deja que la música te lleve a un viaje inolvidable!
  </p>
</section>

{% endblock contenido %}
