{% extends 'base/base.html' %}{% block titulo %} Mundo Música - Contácto
{%endblock %} {% block contenido %}
<section
  style="
    margin: 25px;
    color: #2f3640;
    background-color: #f5f6fa;
    padding: 0px 140px;
  "
>
  <h1 style="text-align: start; margin-bottom: 40px; margin-top: 40px">
    Contáctanos
  </h1>
  <p>
    ¡Gracias por visitar Mundo Música! Estamos encantados de que formes parte de
    nuestra comunidad dedicada a explorar los vibrantes mundos de la música. En
    Mundo Música, la pasión por los diversos géneros y la riqueza cultural que
    la música ofrece es lo que nos impulsa.
  </p>

  <p>
    Apreciamos enormemente tus comentarios y sugerencias, ya que son la clave
    para mejorar y proporcionarte contenido que realmente te inspire. Si tienes
    alguna pregunta, comentario o simplemente deseas compartir tu amor por la
    música, ¡estamos aquí para escucharte!
  </p>

  <p>
    Nos llena de alegría saber que nuestro blog ha resonado contigo, y queremos
    seguir construyendo este espacio musical juntos. La música es un lenguaje
    universal que une a personas de todos los rincones del mundo, y en Mundo
    Música, celebramos esa conexión única que la música nos brinda.
  </p>

  <p>
    Además, si tienes alguna recomendación de artistas, géneros o eventos
    musicales que crees que deberíamos explorar, ¡no dudes en hacérnoslo saber!
    Estamos siempre ansiosos por descubrir nuevos sonidos y compartirlos con
    nuestra comunidad.
  </p>

  <p>
    Por último, puedes ponerte en contacto con nosotros a través del siguiente
    correo <strong>electrónico:</strong>
    <span style="text-decoration: underline">contacto@mundomusica.com</span>.
    Estamos deseando recibir tus mensajes y continuar construyendo juntos este
    apasionante viaje musical.
  </p>

  <p>
    Gracias por ser parte de Mundo Música. ¡Que la música siga siendo la banda
    sonora de tu vida!
  </p>

  <strong>Con cariño,</strong>
  <strong>El Equipo de Mundo Música</strong>
</section>
{% endblock contenido %}
